<h1>Planning</h1>
  
<%= stylesheet_link_tag "event_calendar" %>
<%= raw(event_calendar) %>

  <p>
  	This is a planning tool for a group of people.
    The source code is available on 
    <a href="http://github.com/alexponi/planning.git">GitHub</a>
  </p>
